# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Streamlit
.streamlit/secrets.toml
.streamlit/config.toml

# Distribution / packaging
dist/
build/
*.egg-info/

# Windows specifics
Thumbs.db
Desktop.ini
.devcontainer 
census_tables/ 
output/ 
base application/ 
